<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="testbundle.participant"
         point="org.eclipse.jdt.ls.core.participant">
               <implementor
            class="testbundle.ParticipantFactory"
            type="java">
      </implementor>
   </extension>
</plugin>
